.bg-contacts {
  font-family: 'Noto Sans', sans-serif;
  color: #fff;
  background-color: #065A97;
  padding-top: 50px;
  padding-bottom: 50px;
}
@media (min-width: 768px) {
  .bg-contacts {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media (min-width: 992px) {
  .bg-contacts {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
@media (min-width: 1500px) {
  .bg-contacts {
    background-image: url(../../img/bg/cloud.png);
    background-repeat: no-repeat;
    background-position: right 70%;
  }
}
.bg-contacts p {
  color: #fff;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
}
.bg-contacts a {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px dotted #fff;
}
.bg-contacts a:hover {
  color: #ffe400;
  text-decoration: none;
  border-bottom: 1px dotted #ffe400;
}
.contacts__description {
  margin-bottom: 30px;
}
