.contact-form {
  font-family: 'NotoSans', sans-serif;
}
.contact-form .contact-form__input {
  border: none;
  border-radius: 8px;
  width: 100%;
  font-size: 16px;
  font-weight: 700;
  color: #00599a;
  margin-bottom: 10px;
  padding: 13px 22px;
}
.contact-form .contact-form__input:active,
.contact-form .contact-form__input:focus,
.contact-form .contact-form__input:hover {
  border: 3px solid #a2d1f4;
  padding: 10px 19px;
}
.contact-form .contact-form__input::placeholder {
  color: #00599a;
  opacity: 0.5;
}
.contact-form .contact-form__input--half-width {
  float: left;
  margin-right: 2%;
  width: 49%;
}
.contact-form .contact-form__input--half-width:last-of-type {
  margin-right: 0;
}
.contact-form .contact-form__textarea {
  border-radius: 8px;
  border: none;
  font-size: 16px;
  font-weight: 700;
  color: #00599a;
  height: 128px;
  width: 100%;
  margin-bottom: 10px;
  padding: 13px 22px;
}
.contact-form .contact-form__textarea:active,
.contact-form .contact-form__textarea:focus,
.contact-form .contact-form__textarea:hover {
  border: 3px solid #a2d1f4;
  padding: 10px 19px;
}
.contact-form .contact-form__textarea::placeholder {
  color: #00599a;
  opacity: 0.5;
}
@media (min-width: 1200px) {
  .contact-form {
    /*    .contact-form__bg-pencil {
        position: relative;
    }*/
  }
  .contact-form .contact-form__bg-pencil:after {
    position: absolute;
    left: 75%;
    top: 75%;
    display: block;
    width: 203px;
    height: 153px;
    content: "";
    background-image: url("/img/bg/pencil.png");
    background-repeat: no-repeat;
    background-position: left top;
  }
}
.contact-form .contact-form__submit {
  width: 100%;
  font-size: 18px;
  padding: 8px 47px 12px;
  background-color: transparent;
  border: 4px solid #fff;
  border-radius: 28px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  transition: all 0.3s ease-in;
}
@media (min-width: 768px) {
  .contact-form .contact-form__submit {
    font-size: 20px;
    width: auto;
  }
}
@media (min-width: 992px) {
  .contact-form .contact-form__submit {
    font-size: 22px;
  }
}
.contact-form .contact-form__submit:hover,
.contact-form .contact-form__submit:focus {
  color: #065a97;
  background-color: #fff;
}
.contact-form .contact-form__submit:active {
  background-color: transparent;
  color: #ffe400;
  border: 4px solid #ffe400;
}
label.error {
  background-color: #c62828;
  position: relative;
  display: block;
  border-radius: 8px;
  color: #fff;
  padding: 5px 15px 8px;
  font-weight: 700;
  margin-bottom: 15px;
  margin-top: 2px;
}
label.error:after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 40px;
  margin-left: -12px;
  width: 0;
  height: 0;
  border-bottom: 12px solid #c62828;
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
}
